@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Jockone;
    src: url(/assets/JockeyOne-Regular.ttf);
}

@font-face {
    font-family: Unione;
    src: url(/assets/UnicaOne-Regular.ttf);
}